@import "./partials/variables";
@import url('https://fonts.googleapis.com/css2?family=Blinker:wght@100;300;600;700;800;900&family=Fira+Sans+Condensed:ital,wght@1,500;1,600;1,700;1,800&family=Noto+Sans+TC:wght@200;300;400&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Blinker', sans-serif;
    line-height: 1.5;
    box-sizing: border-box;
}

a
{
    text-decoration: none;
    color: inherit;

    &:hover {
        text-decoration: none;
        color: inherit;
    }
}

button {
    border: none;
    outline: none;
    cursor: pointer;
}

input
{
    outline: none;

    &:focus,
    &:active,
    &:hover {
        outline: none;
    }
}
