#authentication-wrapper
{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: normal;
    align-items: normal;
    align-content: stretch;
    height: 100dvh;
    width: 100dvw;
    background-color: #f5f5f5;

    &:nth-child(1) {
        display: block;
        flex-grow: 0;
        flex-shrink: 0;
        flex-basis: auto;
        align-self: stretch;
        order: 1;
    }

    &:nth-child(2) {
        display: block;
        flex-grow: 1;
        flex-shrink: 1;
        flex-basis: 0;
        align-self: stretch;
        order: 2;
    }
}
