@import "../../Layout/Styles/style";

#home-wrapper
{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: normal;
    align-items: normal;
    align-content: stretch;
    height: 100vh;
    max-width: 1440px;
    margin-right: auto;
    margin-left: auto;

    nav
    {
        display: flex;
        flex-grow: 0;
        flex-shrink: 0;
        flex-basis: auto;
        align-self: stretch;
        order: 1;
        justify-content: space-between;
        align-items: baseline;
        padding: 20px;
        color: $secondaryColor;

        button {
            width: 90px;
            height: 40px;
            background: transparent;
            color: $secondaryColor;
        }
    }

    #home-container
    {
        display: flex;
        flex-direction: column;
        flex-grow: 1;
        flex-shrink: 1;
        flex-basis: 0;
        align-self: stretch;
        order: 2;
        justify-content: flex-start;
        align-items: flex-start;
        padding: 20px;
        overflow: hidden;
        overflow-y: auto;

        header {
            width: 100%;
        }

        &::-webkit-scrollbar {
            width: 0;
        }

        #tasks-container
        {
            display: flex;
            justify-content: flex-start;
            align-items: flex-start;
            flex-direction: column;
            flex-wrap: nowrap;
            align-content: stretch;
            width: 100%;

            #tasks-list-container
            {
                display: flex;
                justify-content: flex-start;
                align-items: flex-start;
                flex-direction: column;
                flex-wrap: nowrap;
                align-content: stretch;
                width: 100%;
                margin-top: 20px;
                border-radius: 0.5rem;
                box-shadow: 0 0 10px 0 $fadedPrimaryColor;
                overflow: hidden;

                .list-items-wrapper
                {
                    display: flex;
                    justify-content: flex-start;
                    align-items: flex-start;
                    flex-direction: column;
                    flex-wrap: nowrap;
                    align-content: stretch;
                    width: 100%;
                    max-height: calc(100vh - 350px);
                    overflow: hidden;
                    overflow-y: auto;

                    @media (max-width: 768px) {
                        max-height: calc(100vh - 400px);
                    }
                }
            }
        }
    }
}
