@import "../../../../Layout/Styles/style";

.page-header-container
{
    width: inherit;
    padding: 20px;
    text-align: center;
    font-family: 'Fira Sans Condensed', sans-serif;
    color: $secondaryColor;
}
